$dark-blue: #305784;
$font-size: 12pt;
html {
  body {
    background: white;
    //font-family: Arial, sans-serif;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: $font-size;
    a{
      outline: none;
    }
    .site-footer {
      background: transparent;
    }
    iframe{
      #header{
        display: none;
        height: 0;
        width: 0;
        visibility: hidden;
        overflow: hidden;
      }
    }
    .site-branding__slogan {
      font-style: normal;
      font-family: Arial, sans-serif;
      font-size: $font-size;
    }

    .elereg-main {
      padding: 2em 0;
      width: 700px;
      min-width: 440px;
      margin: 0 auto;
      font-family: Arial, sans-serif;
      position: relative;
      font-size: $font-size;

      #elereg-form {

        ul {
          list-style: none;
          padding: 0;
          margin: 0;

          li {
            padding: 0 0 1em 0;
            margin: 0;
            background: white;

            label {
              border-right: 1px solid $dark-blue;
              border-bottom: 1px solid $dark-blue;
              position: relative;
              display: block;
              cursor: pointer;
              padding-left: 2em;
              font-weight: bold;

              small {
                font-weight: normal;
              }

              &.label-checkbox {
                border-right: none;
              }
            }

            input {
              cursor: pointer;
              position: absolute;
              top: 0;
              left: 0;
              height: 1em;
              width: 1em;
              display: block;
              outline: 1px solid $dark-blue;
            }

          }
        }

        table {
          background: white;
          border: 1px solid $dark-blue;
          border-collapse: collapse;
          tr {
            th, td {
              background: white;
              border: 1px solid $dark-blue;
              color: black;
              padding: 1em 0.3em;
            }

            th {
              font-size: $font-size * 1.1;
              white-space: nowrap;
            }

            td {
              padding: 4px 9px;
              label {
                border: none;
                padding: 0;
                font-size: $font-size;
                font-weight: normal;
              }

              &.checkbox {
                text-align: center;

                input {
                  position: relative;
                  top: auto;
                  left: auto;
                  outline: 1px solid $dark-blue;
                  display: inline;
                  width: 2em;
                  height: 2em;
                  appearance: auto;
                  font-size: 16px;
                }
              }
            }

            th {
              font-weight: bold;

              i {
                font-weight: normal;
                font-style: italic;
                white-space: nowrap;
                font-size: $font-size;
              }
            }
          }
        }

        .weeks {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          align-content: space-between;

          .week {
            display: flex;
            flex-direction: column;

            li {

            }
          }
        }

        .elereg-status-off {
          cursor: default;
          color: silver;
        }

        .elereg-radio {
          padding: 0.5em;

          input {
            display: none;
          }
        }

        .hours {
          display: flex;
          flex-wrap: wrap;

          li {
            padding: 0.5em;

            label {
              //              padding: 0.5em 0.5em 0.5em 2.5em;
              height: 2.5em;
            }
          }
        }
      }

      .field--type-entity-reference .field__label, .field--type-entity-reference ul.links {
        font-size: 1em;
        font-weight: bold;
      }

      #elereg-submit {
        background: white;
        border: 1px solid $dark-blue;
        font-size: $font-size;
        padding: 1em;
        cursor: pointer;
      }

      .elereg-element-fio {
        input[type=text] {
          width: 100%;
          margin: 1em auto;
          border: 1px solid $dark-blue;
        }

        label {
          position: relative;
          padding: 0.5em 0.5em 0.5em 2.5em;
          display: table;

          input {
            width: 2em;
            height: 2em;
            position: absolute;
            top: calc(50% - 1em);
            left: 0;
            outline: 1px solid $dark-blue;
          }
        }
      }

      #elereg-form-next {
        position: absolute;
        bottom: 0;
        left: calc(50% - 50px);
        width: 100px;
        border: 1px solid $dark-blue;
        background: transparent;
        cursor: pointer;

        &:hover {
          outline: 1px solid $dark-blue;
        }
      }
    }

    .elereg-throbber {
      position: absolute;
      height: 250px;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 1000;
      background: url(../assets/throbber.gif) no-repeat center center white;
    }

    .title {
      &.page-title {

      }
    }

    //font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    //&.is-overlay-
    #page-wrapper {
      #page {
        #header {
          .site-branding {
            min-height: 2em;
            padding: 1em;
            background: none;
          }

          .site-branding__name {
            a {
              font-size: 1.8rem;
              font-weight: normal;
            }
          }

          .site-header__inner__container {

            background: none;
            background-color: #376193;
            background-image: -webkit-linear-gradient(top, #2b4c74 0%, #376193 100%);
            background-image: linear-gradient(to bottom, #2b4c74 0%, #376193 100%);

            .mobile-buttons {
              margin-top: 3.4rem;

              .mobile-nav-button {
                outline: none;

                .mobile-nav-button__icon {
                  border-color: white;

                  &:after,
                  &:before {
                    border-color: white;
                  }

                }

                &[aria-expanded="true"] {
                  .mobile-nav-button__icon {
                    border-color: #376193;

                    &:after,
                    &:before {
                      border-color: #376193;
                    }

                  }
                }

                .mobile-nav-button__label {
                  width: 0;
                  visibility: hidden;
                  color: white;
                  display: none;
                }
              }
            }
          }

          .site-header__initial {
            display: none;
            width: 0;
            visibility: hidden;
            overflow: hidden;
            height: 0;

          }
        }
      }
    }


    #main-wrapper {
      #main {
        .main-content {
          width: 100%;
          .main-content__container {
            padding-top: 0;

            h2 {
              margin: 0;
              padding: 0;
              font-weight: normal;
            }

            .text-content {
              font-family: inherit;

              p {
                margin-bottom: 0;
              }
            }
          }
        }
        .social-bar {
          display: none;
          width: 0;
          visibility: hidden;
          overflow: hidden;
          height: 0;
        }
      }
    }
  }
}

@media all and (max-width: 700px) {
  html {
    body {
      .elereg-main {
        width: 99%;
      }
    }
  }
}
